<a href="https://colab.research.google.com/github/201804252yongjoon/propertydata/blob/main/201804252_property.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

부동산학전공 201804252 최용준

In [3]:
import pandas as pd

In [4]:
subscription=pd.read_csv("subscription.csv")

In [21]:
cycle=pd.read_csv("cycle.csv")

In [5]:
subscription

,주택명,주택상세구분코드명,분양구분코드명,공급지역명,공급규모,모집공고일,청약접수시작일,청약접수종료일,특별공급 접수시작일,특별공급 접수종료일,...,건설업체명(시공사),사업주체명(시행사),입주예정월,투기과열지구,조정대상지역,분양가상한제,정비사업,공공주택지구,대규모택지개발지구,수도권내민영공공주택지구
0,SH 마곡지구 9단지,국민,분양주택,서울,962,2020-02-26,2020-03-16,2020-03-18,NaN,NaN,...,한신공영,서울주택도시공사,202102,Y,Y,Y,N,N,N,N
1,대구연경A-2블록국민임대,국민,분양전환 불가임대,대구,167,2020-02-03,2020-02-17,2020-02-18,NaN,NaN,...,NaN,한국토지주택대구경북,202005,N,N,N,N,N,N,N
2,경북도청신도시 코오롱하늘채,국민,분양전환 가능임대,경북,869,2020-02-03,2020-02-21,2020-02-25,2020-02-21,2020-02-21,...,코오롱글로벌(주),경상북도개발공사,202007,N,N,N,N,N,N,N
3,학성동 동남하이빌아파트,민영,분양주택,울산,69,2020-02-04,2020-02-14,2020-02-17,NaN,NaN,...,일위종합건설(주),동남건설산업(주),202003,N,N,N,N,N,N,N
4,제주첨단과학기술단지A23블록행복주택,국민,분양전환 불가임대,제주,402,2020-02-04,2020-02-14,2020-02-18,NaN,NaN,...,NaN,제주국제자유도시개발,202008,N,N,N,N,N,N,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1396,광혜원 포레가,민영,분양주택,충북,51,2022-09-02,2022-09-13,2022-09-15,2022-09-13,2022-09-13,...,해성종합건설(주),광혜원지역주택조합,202210,N,N,N,N,N,N,N
1397,e편한세상 주촌 더프리미어,민영,분양주택,경남,992,2022-09-02,2022-09-14,2022-09-16,2022-09-14,2022-09-14,...,디엘이앤씨 주식회사,주식회사 하나자산신탁,202512,N,N,N,N,N,N,N
1398,옥천역 금호어울림 더퍼스트,민영,분양주택,충북,499,2022-09-01,2022-09-06,2022-09-08,2022-09-06,2022-09-06,...,금호건설(주),대한토지신탁(주),202501,N,N,N,N,N,N,N
1399,장성 바울루체,민영,분양주택,전남,70,2022-09-16,2022-09-26,2022-09-28,2022-09-26,2022-09-26,...,남광건설 주식회사,한국자산신탁(주),202408,N,N,N,N,N,N,N
1400,천안 부성지구 우남퍼스트빌,민영,분양주택,충남,316,2022-09-16,2022-09-26,2022-09-29,2022-09-26,2022-09-26,...,"(주)우남건설,(주)더블유건설","(주)더블유건설,(주)다림씨앤씨",202403,N,Y,N,N,N,N,N

In [6]:
subscription.분양가상한제.value_counts(normalize=True)

N    0.802284
Y    0.197716
Name: 분양가상한제, dtype: float64

In [7]:
subscription.주택상세구분코드명.value_counts(normalize=True)

민영    0.814418
국민    0.185582
Name: 주택상세구분코드명, dtype: float64

In [20]:
subscription.분양구분코드명.value_counts(normalize=True)

분양주택         0.866524
분양전환 불가임대    0.096360
분양전환 가능임대    0.037116
Name: 분양구분코드명, dtype: float64

In [8]:
subscription.describe()

               공급규모          입주예정월
count   1401.000000    1401.000000
mean     487.633833  202287.685225
std      594.305573     156.418190
min        1.000000  202003.000000
25%      132.000000  202205.000000
50%      348.000000  202307.000000
75%      688.000000  202406.000000
max    12688.000000  202610.000000

In [9]:
subscription.isna().sum(axis=1).sum()

3329

In [7]:
subscription.filter(like='순위')

,1순위 접수일 해당지역,1순위 접수일 경기지역,1순위 접수일 기타지역,2순위 접수일 해당지역,2순위 접수일 경기지역,2순위 접수일 기타지역
0,2020-03-16,NaN,2020-03-17,2020-03-18,NaN,2020-03-18
1,2020-02-17,NaN,NaN,2020-02-18,NaN,NaN
2,2020-02-24,NaN,2020-02-24,2020-02-25,NaN,2020-02-25
3,2020-02-14,NaN,2020-02-14,2020-02-17,NaN,2020-02-17
4,2020-02-14~2020-02-17,NaN,2020-02-14~2020-02-17,2020-02-18,NaN,2020-02-18
...,...,...,...,...,...,...
1396,2022-09-14,NaN,2022-09-14,2022-09-15,NaN,2022-09-15
1397,2022-09-15,NaN,2022-09-15,2022-09-16,NaN,2022-09-16
1398,2022-09-07,NaN,2022-09-07,2022-09-08,NaN,2022-09-08
1399,2022-09-27,NaN,2022-09-27,2022-09-28,NaN,2022-09-28
1400,2022-09-27,NaN,2022-09-28,2022-09-29,NaN,2022-09-29

In [8]:
subscription.nlargest(100, '공급규모').head()

,주택명,주택상세구분코드명,분양구분코드명,공급지역명,공급규모,모집공고일,청약접수시작일,청약접수종료일,특별공급 접수시작일,특별공급 접수종료일,...,건설업체명(시공사),사업주체명(시행사),입주예정월,투기과열지구,조정대상지역,분양가상한제,정비사업,공공주택지구,대규모택지개발지구,수도권내민영공공주택지구
66,2020.04.16 (비수도권) 국민임대주택 예비입주자 정례모집,국민,분양전환 불가임대,부산,12688,2020-04-16,2020-04-20,2020-05-20,NaN,NaN,...,NaN,한국토지주택공사,202012,N,N,N,N,Y,N,N
65,2020.04.06 (수도권) 국민임대주택 예비입주자 정례모집,국민,분양전환 불가임대,경기,9129,2020-04-06,2020-04-13,2020-05-15,NaN,NaN,...,NaN,한국토지주택공사,202012,N,N,N,N,N,N,N
750,천안 한양수자인 에코시티,민영,분양주택,충남,3200,2021-03-29,2021-04-08,2021-04-12,2021-04-08,2021-04-08,...,주식회사 한양,교보자산신탁(주),202401,N,N,N,N,N,N,N
357,2020년도 1차 행복주택 입주자모집,국민,분양전환 불가임대,서울,2963,2020-06-25,2020-07-08,2020-07-14,NaN,NaN,...,NaN,서울주택도시공사,202012,Y,Y,N,N,N,N,N
606,e편한세상 부평 그랑힐스,민영,분양주택,인천,2902,2020-12-31,2021-01-11,2021-01-14,2021-01-11,2021-01-11,...,대림산업(주),(주)무궁화신탁,202310,N,Y,N,Y,N,N,N

In [9]:
(
subscription[['주택상세구분코드명', '공급규모', '공급지역명']]
    .sort_values('공급규모', ascending=False)
)

    주택상세구분코드명   공급규모 공급지역명
66         국민  12688    부산
65         국민   9129    경기
750        민영   3200    충남
357        국민   2963    서울
606        민영   2902    인천
..        ...    ...   ...
222        국민      2    경기
153        국민      2    경기
154        국민      2    경기
373        국민      1    부산
386        국민      1    경기

[1401 rows x 3 columns]