<a href="https://colab.research.google.com/github/201804252yongjoon/propertydata/blob/main/201804252_property.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

부동산학전공 201804252 최용준

In [31]:
import pandas as pd
import numpy as np

In [61]:
subscription=pd.read_csv("subscription.csv")

In [33]:
subscription

,주택명,주택상세구분코드명,분양구분코드명,공급지역명,공급규모,모집공고일,청약접수시작일,청약접수종료일,특별공급 접수시작일,특별공급 접수종료일,...,건설업체명(시공사),사업주체명(시행사),입주예정월,투기과열지구,조정대상지역,분양가상한제,정비사업,공공주택지구,대규모택지개발지구,수도권내민영공공주택지구
0,SH 마곡지구 9단지,국민,분양주택,서울,962,2020-02-26,2020-03-16,2020-03-18,NaN,NaN,...,한신공영,서울주택도시공사,202102,Y,Y,Y,N,N,N,N
1,대구연경A-2블록국민임대,국민,분양전환 불가임대,대구,167,2020-02-03,2020-02-17,2020-02-18,NaN,NaN,...,NaN,한국토지주택대구경북,202005,N,N,N,N,N,N,N
2,경북도청신도시 코오롱하늘채,국민,분양전환 가능임대,경북,869,2020-02-03,2020-02-21,2020-02-25,2020-02-21,2020-02-21,...,코오롱글로벌(주),경상북도개발공사,202007,N,N,N,N,N,N,N
3,학성동 동남하이빌아파트,민영,분양주택,울산,69,2020-02-04,2020-02-14,2020-02-17,NaN,NaN,...,일위종합건설(주),동남건설산업(주),202003,N,N,N,N,N,N,N
4,제주첨단과학기술단지A23블록행복주택,국민,분양전환 불가임대,제주,402,2020-02-04,2020-02-14,2020-02-18,NaN,NaN,...,NaN,제주국제자유도시개발,202008,N,N,N,N,N,N,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1396,광혜원 포레가,민영,분양주택,충북,51,2022-09-02,2022-09-13,2022-09-15,2022-09-13,2022-09-13,...,해성종합건설(주),광혜원지역주택조합,202210,N,N,N,N,N,N,N
1397,e편한세상 주촌 더프리미어,민영,분양주택,경남,992,2022-09-02,2022-09-14,2022-09-16,2022-09-14,2022-09-14,...,디엘이앤씨 주식회사,주식회사 하나자산신탁,202512,N,N,N,N,N,N,N
1398,옥천역 금호어울림 더퍼스트,민영,분양주택,충북,499,2022-09-01,2022-09-06,2022-09-08,2022-09-06,2022-09-06,...,금호건설(주),대한토지신탁(주),202501,N,N,N,N,N,N,N
1399,장성 바울루체,민영,분양주택,전남,70,2022-09-16,2022-09-26,2022-09-28,2022-09-26,2022-09-26,...,남광건설 주식회사,한국자산신탁(주),202408,N,N,N,N,N,N,N
1400,천안 부성지구 우남퍼스트빌,민영,분양주택,충남,316,2022-09-16,2022-09-26,2022-09-29,2022-09-26,2022-09-26,...,"(주)우남건설,(주)더블유건설","(주)더블유건설,(주)다림씨앤씨",202403,N,Y,N,N,N,N,N

In [34]:
subscription.분양가상한제.value_counts(normalize=True)

N    0.802284
Y    0.197716
Name: 분양가상한제, dtype: float64

In [35]:
subscription.주택상세구분코드명.value_counts(normalize=True)

민영    0.814418
국민    0.185582
Name: 주택상세구분코드명, dtype: float64

In [58]:
subscription.loc[(subscription['공공주택지구'] == "Y") & (subscription['분양가상한제'] == "N")&(subscription['분양구분코드명'] == "분양주택")]

,주택명,주택상세구분코드명,분양구분코드명,공급지역명,공급규모,모집공고일,청약접수시작일,청약접수종료일,특별공급 접수시작일,특별공급 접수종료일,...,건설업체명(시공사),사업주체명(시행사),입주예정월,투기과열지구,조정대상지역,분양가상한제,정비사업,공공주택지구,대규모택지개발지구,수도권내민영공공주택지구
129,혁신도시 에코르 1단지 분양전환 후 일반분양주택,국민,분양주택,전북,7,2020-04-10,2020-04-20,2020-04-21,NaN,NaN,...,코오롱글로벌(주),전북개발공사,202006,N,N,N,N,Y,N,N
782,혁신도시 에코르 3단지 분양전환 후 일반분양주택,국민,분양주택,전북,4,2021-05-10,2021-05-20,2021-05-21,NaN,NaN,...,금호건설,전북개발공사,202107,N,N,N,N,Y,N,N

In [59]:
subscription.loc[(subscription['공공주택지구'] == "N") & (subscription['분양가상한제'] == "N")&(subscription['분양구분코드명'] == "분양주택")]

,주택명,주택상세구분코드명,분양구분코드명,공급지역명,공급규모,모집공고일,청약접수시작일,청약접수종료일,특별공급 접수시작일,특별공급 접수종료일,...,건설업체명(시공사),사업주체명(시행사),입주예정월,투기과열지구,조정대상지역,분양가상한제,정비사업,공공주택지구,대규모택지개발지구,수도권내민영공공주택지구
3,학성동 동남하이빌아파트,민영,분양주택,울산,69,2020-02-04,2020-02-14,2020-02-17,NaN,NaN,...,일위종합건설(주),동남건설산업(주),202003,N,N,N,N,N,N,N
5,의왕 오전 동아루미체,민영,분양주택,경기,65,2020-02-05,2020-02-17,2020-02-19,2020-02-17,2020-02-17,...,(주)동아토건,(주)휘보건설,202112,N,N,N,N,N,N,N
9,대연 삼정그린코아 더 베스트,민영,분양주택,부산,337,2020-02-14,2020-02-26,2020-02-28,2020-02-26,2020-02-26,...,삼정건설 주식회사,(주)위드워킹,202210,N,N,N,N,N,N,N
10,매교역 푸르지오 SK VIEW(수원),민영,분양주택,경기,1795,2020-02-07,2020-02-18,2020-02-20,2020-02-18,2020-02-18,...,(주)대우건설,팔달8구역 주택재개발,202207,N,N,N,Y,N,N,N
11,두호 SK VIEW 푸르지오 1단지,민영,분양주택,경북,91,2020-02-14,2020-02-24,2020-02-26,2020-02-24,2020-02-24,...,"SK건설, 대우건설",두호주공1차아파트주택재건축정비사업조합,202003,N,N,N,N,N,N,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1396,광혜원 포레가,민영,분양주택,충북,51,2022-09-02,2022-09-13,2022-09-15,2022-09-13,2022-09-13,...,해성종합건설(주),광혜원지역주택조합,202210,N,N,N,N,N,N,N
1397,e편한세상 주촌 더프리미어,민영,분양주택,경남,992,2022-09-02,2022-09-14,2022-09-16,2022-09-14,2022-09-14,...,디엘이앤씨 주식회사,주식회사 하나자산신탁,202512,N,N,N,N,N,N,N
1398,옥천역 금호어울림 더퍼스트,민영,분양주택,충북,499,2022-09-01,2022-09-06,2022-09-08,2022-09-06,2022-09-06,...,금호건설(주),대한토지신탁(주),202501,N,N,N,N,N,N,N
1399,장성 바울루체,민영,분양주택,전남,70,2022-09-16,2022-09-26,2022-09-28,2022-09-26,2022-09-26,...,남광건설 주식회사,한국자산신탁(주),202408,N,N,N,N,N,N,N
1400,천안 부성지구 우남퍼스트빌,민영,분양주택,충남,316,2022-09-16,2022-09-26,2022-09-29,2022-09-26,2022-09-26,...,"(주)우남건설,(주)더블유건설","(주)더블유건설,(주)다림씨앤씨",202403,N,Y,N,N,N,N,N

In [36]:
subscription.분양구분코드명.value_counts(normalize=True)

분양주택         0.866524
분양전환 불가임대    0.096360
분양전환 가능임대    0.037116
Name: 분양구분코드명, dtype: float64

In [37]:
subscription = subscription.dropna(axis=0)
subscription.filter(like='순위')

,1순위 접수일 해당지역,1순위 접수일 경기지역,1순위 접수일 기타지역,2순위 접수일 해당지역,2순위 접수일 경기지역,2순위 접수일 기타지역
6,2020-02-19,2020-02-19,2020-02-19,2020-02-20,2020-02-20,2020-02-20
21,2020-02-28,2020-02-28,2020-02-28,2020-03-02,2020-03-02,2020-03-02
31,2020-03-03,2020-03-03,2020-03-03,2020-03-04,2020-03-04,2020-03-04
81,2020-03-31,2020-03-31,2020-03-31,2020-04-01,2020-04-01,2020-04-01
104,2020-04-21,2020-04-21,2020-04-21,2020-04-22,2020-04-22,2020-04-22
...,...,...,...,...,...,...
1242,2022-05-03,2022-05-03,2022-05-03,2022-05-04,2022-05-04,2022-05-04
1246,2022-06-24,2022-06-24,2022-06-24,2022-06-27,2022-06-27,2022-06-27
1248,2022-05-24,2022-05-24,2022-05-24,2022-05-25,2022-05-25,2022-05-25
1256,2022-05-31,2022-05-31,2022-05-31,2022-06-02,2022-06-02,2022-06-02
1369,2022-08-30,2022-08-30,2022-08-30,2022-08-31,2022-08-31,2022-08-31

In [38]:
(
subscription[['주택명','주택상세구분코드명', '공급규모', '공급지역명']]
    .sort_values('공급규모', ascending=False)
)

                                   주택명 주택상세구분코드명  공급규모 공급지역명
772                       양주 옥정 린 파밀리에        국민  2049    경기
504                  운정신도시 제일풍경채 그랑퍼스트        민영  1926    경기
987                    운정신도시 푸르지오 파르세나        민영  1745    경기
336  양주 옥정신도시 제일풍경채 Lake City(A10-1BL)        민영  1246    경기
945        오산 세교2지구 A-4블록 중흥S-클래스 에듀파크        민영  1245    경기
..                                 ...       ...   ...   ...
650              의정부 고산 수자인 디에스티지 C1BL        민영   240    경기
933                    힐스테이트 광교중앙역 퍼스트        민영   211    경기
711           오산 세교지구 Cd-1블록 호반써밋 라테라스        민영   208    경기
482                      운정 아이파크 더 테라스        민영   186    경기
844                  양주 회천신도시 센트럴 아리스타        민영    97    경기

[79 rows x 4 columns]

In [39]:
# 청약접수시작일과 청약접수종료일을 추출합니다.
start_dates = pd.to_datetime(subscription['청약접수시작일'])
end_dates = pd.to_datetime(subscription['청약접수종료일'])

# 청약접수종료일에서 청약접수시작일을 뺍니다.
intervals = end_dates - start_dates

# 결과를 데이터 프레임으로 변환합니다.
a = pd.DataFrame({'청약접수시작일': start_dates, '청약접수종료일': end_dates, '시간 간격': intervals})

# 결과를 인쇄합니다.
print(a)

        청약접수시작일    청약접수종료일  시간 간격
6    2020-02-18 2020-02-20 2 days
21   2020-02-27 2020-03-02 4 days
31   2020-03-02 2020-03-04 2 days
81   2020-03-30 2020-04-01 2 days
104  2020-04-20 2020-04-22 2 days
...         ...        ...    ...
1242 2022-05-02 2022-05-04 2 days
1246 2022-06-23 2022-06-27 4 days
1248 2022-05-23 2022-05-25 2 days
1256 2022-05-30 2022-06-02 3 days
1369 2022-08-29 2022-08-31 2 days

[79 rows x 3 columns]

In [40]:
intervals.describe()

count                           79
mean     2 days 03:20:30.379746835
std      0 days 11:59:24.932212744
min                2 days 00:00:00
25%                2 days 00:00:00
50%                2 days 00:00:00
75%                2 days 00:00:00
max                4 days 00:00:00
dtype: object

In [49]:
subscription.loc[(subscription['공급지역명'] == "서울") & (subscription['분양가상한제'] == "Y")]

,주택명,주택상세구분코드명,분양구분코드명,공급지역명,공급규모,모집공고일,청약접수시작일,청약접수종료일,특별공급 접수시작일,특별공급 접수종료일,...,건설업체명(시공사),사업주체명(시행사),입주예정월,투기과열지구,조정대상지역,분양가상한제,정비사업,공공주택지구,대규모택지개발지구,수도권내민영공공주택지구
0,SH 마곡지구 9단지,국민,분양주택,서울,962,2020-02-26,2020-03-16,2020-03-18,NaN,NaN,...,한신공영,서울주택도시공사,202102,Y,Y,Y,N,N,N,N
276,공항동 발쿠치네 하우스,민영,분양주택,서울,45,2020-06-05,2020-06-16,2020-06-19,2020-06-16,2020-06-16,...,우석종합건설(주),발쿠치네하우스,202007,Y,Y,Y,N,N,N,N
305,SH 고덕강일 8단지 공공분양주택,국민,분양주택,서울,526,2020-06-02,2020-06-15,2020-06-22,2020-06-15,2020-06-16,...,(주)대보건설,서울주택도시공사,202102,Y,Y,Y,N,Y,Y,N
309,SH 고덕강일14단지 공공분양주택,국민,분양주택,서울,411,2020-06-02,2020-06-15,2020-06-22,2020-06-15,2020-06-16,...,대우조선해양건설(주),서울주택도시공사,202102,Y,Y,Y,N,Y,Y,N
325,스위트드림 아파트,민영,분양주택,서울,48,2020-06-10,2020-06-22,2020-06-24,NaN,NaN,...,(주)스위트드림종합건설,(주)스위트드림종합건설,202007,Y,Y,Y,N,N,N,N
331,서초비버리캐슬,민영,분양주택,서울,42,2020-06-18,2020-06-29,2020-07-01,NaN,NaN,...,(주)덕인컨스텍,아시아신탁주식회사,202007,Y,Y,Y,N,N,N,N
422,고덕 아르테스 미소지움,민영,분양주택,서울,37,2020-10-08,2020-10-20,2020-10-23,2020-10-20,2020-10-20,...,에스지신성건설주식회사,벽산빌라가로주택정비사업조합,202202,Y,Y,Y,Y,N,N,N
512,서초자이르네,민영,분양주택,서울,35,2020-10-08,2020-10-19,2020-10-21,NaN,NaN,...,자이에스앤디(주),낙원청광연립가로주택정비사업조합,202208,Y,Y,Y,Y,N,N,N
584,SH 위례지구 A1-12BL 공공분양,국민,분양주택,서울,394,2020-11-19,2020-12-10,2020-12-11,NaN,NaN,...,진흥기업,서울주택도시공사,202108,Y,Y,Y,N,Y,Y,N
585,SH 위례지구 A1-5BL 공공분양,국민,분양주택,서울,1282,2020-11-19,2020-12-10,2020-12-11,NaN,NaN,...,한화건설,서울주택도시공사,202108,Y,Y,Y,N,Y,Y,N
619,힐스테이트 리슈빌 강일,민영,분양주택,서울,809,2020-12-18,2020-12-28,2020-12-30,2020-12-28,2020-12-28,...,"현대건설(주),계룡건설산업(주)","현대건설(주),계룡건설산업(주)",202309,Y,Y,Y,N,N,Y,Y
685,자양 하늘채 베르,민영,분양주택,서울,51,2021-02-18,2021-03-02,2021-03-05,2021-03-02,2021-03-02,...,코오롱글로벌(주),자양아파트재건축정비사업조합,202302,Y,Y,Y,Y,N,N,N
686,고덕강일 제일풍경채,민영,분양주택,서울,780,2021-02-18,2021-03-03,2021-03-05,2021-03-03,2021-03-03,...,제일건설(주),"(주)고덕강일1피에프브이,제일건설(주)",202401,Y,Y,Y,N,Y,Y,Y
753,세운 푸르지오 헤리시티 아파트,민영,분양주택,서울,281,2021-05-04,2021-05-14,2021-05-20,2021-05-14,2021-05-14,...,(주)대우건설,우리자산신탁 주식회사,202301,Y,Y,Y,N,N,N,N
838,래미안 원베일리,민영,분양주택,서울,224,2021-06-07,2021-06-17,2021-06-21,NaN,NaN,...,삼성물산(주),신반포3차경남아파트주택재건축정비사업조합,202308,Y,Y,Y,Y,N,N,N
869,e편한세상 강일 어반브릿지,민영,분양주택,서울,593,2021-09-10,2021-09-27,2021-09-29,2021-09-27,2021-09-27,...,디엘이앤씨 주식회사,(주)고덕강일10피에프브이,202402,Y,Y,Y,N,Y,Y,Y
1063,해링턴플레이스 안암,민영,분양주택,서울,114,2021-11-25,2021-12-08,2021-12-13,2021-12-08,2021-12-08,...,진흥기업(주),안암제2구역주택재개발정비사업조합,202407,Y,Y,Y,Y,N,N,N
1149,센트레빌 아스테리움 영등포,민영,분양주택,서울,106,2022-02-11,2022-02-21,2022-02-24,2022-02-21,2022-02-21,...,동부건설(주),영등포동2가 439일대 가로주택정비사업조합,202408,Y,Y,Y,Y,N,N,N
1198,힐스테이트 세운 센트럴 1단지,민영,분양주택,서울,165,2022-04-08,2022-04-18,2022-04-21,2022-04-18,2022-04-18,...,현대엔지니어링(주),우리자산신탁 주식회사,202302,Y,Y,Y,Y,N,N,N
1199,힐스테이트 세운 센트럴 2단지,민영,분양주택,서울,264,2022-04-08,2022-04-18,2022-04-21,2022-04-18,2022-04-18,...,현대엔지니어링(주),우리자산신탁 주식회사,202302,Y,Y,Y,Y,N,N,N

In [54]:
print(subscription.groupby('공급지역명')['공급규모'].mean().sort_values(ascending=False))

공급지역명
충북    673.291667
경북    636.424658
충남    614.277108
인천    594.163265
경기    534.216837
세종    508.636364
경남    503.808511
대전    471.810811
대구    450.459677
부산    437.588889
강원    411.098039
울산    402.645161
전북    401.706897
서울    383.528571
전남    353.415385
광주    242.300000
제주    107.333333
Name: 공급규모, dtype: float64

In [68]:
subscription.at[('주택상세구분코드명', '분양가상한제')].value_counts()

KeyError: ignored

In [70]:
subscription.groupby(['주택상세구분코드명', '분양가상한제']).size()

주택상세구분코드명  분양가상한제
국민         N         212
           Y          48
민영         N         912
           Y         229
dtype: int64