<a href="https://colab.research.google.com/github/201804252yongjoon/propertydata/blob/main/201804252_property.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

201804252 부동산학전공 최용준 부동산청약데이터분석

In [34]:
import pandas as pd
import numpy as np

2020년부터 2022년까지 주택 청약 데이터 subscribtion을 불러옵니다

In [35]:
subscription=pd.read_csv("subscription.csv")
# 청약 데이터 https://www.data.go.kr/data/15101046/fileData.do

다음과 같은 데이터프레임을 볼 수 있습니다.

In [36]:
subscription

,주택명,주택상세구분코드명,분양구분코드명,공급지역명,공급규모,모집공고일,청약접수시작일,청약접수종료일,특별공급 접수시작일,특별공급 접수종료일,...,건설업체명(시공사),사업주체명(시행사),입주예정월,투기과열지구,조정대상지역,분양가상한제,정비사업,공공주택지구,대규모택지개발지구,수도권내민영공공주택지구
0,SH 마곡지구 9단지,국민,분양주택,서울,962,2020-02-26,2020-03-16,2020-03-18,NaN,NaN,...,한신공영,서울주택도시공사,202102,Y,Y,Y,N,N,N,N
1,대구연경A-2블록국민임대,국민,분양전환 불가임대,대구,167,2020-02-03,2020-02-17,2020-02-18,NaN,NaN,...,NaN,한국토지주택대구경북,202005,N,N,N,N,N,N,N
2,경북도청신도시 코오롱하늘채,국민,분양전환 가능임대,경북,869,2020-02-03,2020-02-21,2020-02-25,2020-02-21,2020-02-21,...,코오롱글로벌(주),경상북도개발공사,202007,N,N,N,N,N,N,N
3,학성동 동남하이빌아파트,민영,분양주택,울산,69,2020-02-04,2020-02-14,2020-02-17,NaN,NaN,...,일위종합건설(주),동남건설산업(주),202003,N,N,N,N,N,N,N
4,제주첨단과학기술단지A23블록행복주택,국민,분양전환 불가임대,제주,402,2020-02-04,2020-02-14,2020-02-18,NaN,NaN,...,NaN,제주국제자유도시개발,202008,N,N,N,N,N,N,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1396,광혜원 포레가,민영,분양주택,충북,51,2022-09-02,2022-09-13,2022-09-15,2022-09-13,2022-09-13,...,해성종합건설(주),광혜원지역주택조합,202210,N,N,N,N,N,N,N
1397,e편한세상 주촌 더프리미어,민영,분양주택,경남,992,2022-09-02,2022-09-14,2022-09-16,2022-09-14,2022-09-14,...,디엘이앤씨 주식회사,주식회사 하나자산신탁,202512,N,N,N,N,N,N,N
1398,옥천역 금호어울림 더퍼스트,민영,분양주택,충북,499,2022-09-01,2022-09-06,2022-09-08,2022-09-06,2022-09-06,...,금호건설(주),대한토지신탁(주),202501,N,N,N,N,N,N,N
1399,장성 바울루체,민영,분양주택,전남,70,2022-09-16,2022-09-26,2022-09-28,2022-09-26,2022-09-26,...,남광건설 주식회사,한국자산신탁(주),202408,N,N,N,N,N,N,N
1400,천안 부성지구 우남퍼스트빌,민영,분양주택,충남,316,2022-09-16,2022-09-26,2022-09-29,2022-09-26,2022-09-26,...,"(주)우남건설,(주)더블유건설","(주)더블유건설,(주)다림씨앤씨",202403,N,Y,N,N,N,N,N

sort_values 함수를 이용해서 공급규모가 큰 순서로 내림차순으로 정렬합니다

In [37]:
(
subscription[['주택명','주택상세구분코드명', '공급규모', '공급지역명']]
    .sort_values('공급규모', ascending=False).head(20)
)

                                      주택명 주택상세구분코드명   공급규모 공급지역명
66    2020.04.16 (비수도권) 국민임대주택 예비입주자 정례모집        국민  12688    부산
65     2020.04.06 (수도권) 국민임대주택 예비입주자 정례모집        국민   9129    경기
750                         천안 한양수자인 에코시티        민영   3200    충남
357                  2020년도 1차 행복주택 입주자모집        국민   2963    서울
606                         e편한세상 부평 그랑힐스        민영   2902    인천
445                                 레이카운티        민영   2759    부산
290                2020년 제1차 국민임대주택 입주자모집        국민   2519    서울
515                    진천 교성지구 풍림아이원 트리니티        민영   2450    충북
279                   검암역 로열파크씨티 푸르지오 2단지        민영   2426    인천
822                         오송역 파라곤 센트럴시티        민영   2415    충북
278                   검암역 로열파크씨티 푸르지오 1단지        민영   2379    인천
587                         오산 롯데캐슬 스카이파크        민영   2339    경기
897                       힐스테이트 봉담 프라이드시티        민영   2333    경기
1130                            래미안 포레스티지        민영   2331    부산
211           제38차 장기전세주택 입주자 모집 공고(85이하)        국민   2307    서울
765                             한화 포레나 포항        민영   2192    경북
326                        수원 센트럴 아이파크 자이        민영   2165    경기
772                          양주 옥정 린 파밀리에        국민   2049    경기
504                     운정신도시 제일풍경채 그랑퍼스트        민영   1926    경기
857                              힐스테이트 초곡        민영   1866    경북

전체에서 분양가상한제에 해당하는 주택이 얼마나 되는지 확인해줍니다.

In [38]:
subscription.분양가상한제.value_counts(normalize=True)

N    0.802284
Y    0.197716
Name: 분양가상한제, dtype: float64

전체에서 국민주택에 해당하는 주택이 얼마나 되는지 확인해줍니다.

In [39]:
subscription.주택상세구분코드명.value_counts(normalize=True)

민영    0.814418
국민    0.185582
Name: 주택상세구분코드명, dtype: float64

공법상 공공주택지구의 분양주택은 모두 분양가상한제에 해당하게 되는데 아래 결과를 보면 2개의 경우 해당하지 않는다고 나와있습니다.

In [40]:
# 임대주택을 제외하기 위해 loc함수를 이용해 분양주택만을 불러온 다음 공공주택지구와 분양가상한제를 groupby로 묶고 .size 함수를 이용해 각각 해당하는 값을 구함 
subscription.loc[(subscription['분양구분코드명'] == "분양주택")].groupby(['공공주택지구','분양가상한제']).size()

공공주택지구  분양가상한제
N       N         937
        Y         209
Y       N           2
        Y          66
dtype: int64

 왜 이러한 결과가 나왔는지 살펴보면 분양전환 후 일반분양주택의 경우 분양가상한제가 적용되지 않는것을 알 수 있습니다. 
분양전환 후 일반분양주택의 경우 입주당시의 감정평가액과 분양전환시의 감정평가액을 산술평가해 계산합니다.

In [41]:
subscription.loc[(subscription['공공주택지구'] == "Y") & (subscription['분양가상한제'] == "N")&(subscription['분양구분코드명'] == "분양주택")]

,주택명,주택상세구분코드명,분양구분코드명,공급지역명,공급규모,모집공고일,청약접수시작일,청약접수종료일,특별공급 접수시작일,특별공급 접수종료일,...,건설업체명(시공사),사업주체명(시행사),입주예정월,투기과열지구,조정대상지역,분양가상한제,정비사업,공공주택지구,대규모택지개발지구,수도권내민영공공주택지구
129,혁신도시 에코르 1단지 분양전환 후 일반분양주택,국민,분양주택,전북,7,2020-04-10,2020-04-20,2020-04-21,NaN,NaN,...,코오롱글로벌(주),전북개발공사,202006,N,N,N,N,Y,N,N
782,혁신도시 에코르 3단지 분양전환 후 일반분양주택,국민,분양주택,전북,4,2021-05-10,2021-05-20,2021-05-21,NaN,NaN,...,금호건설,전북개발공사,202107,N,N,N,N,Y,N,N

추가로 공공주택지구에 해당하지 않지만 분양가상한제에 해당되는 분양주택도 다수 존재하는것을 알 수 있어 분양가상한제가 공공주택지구에만 해당하지 않는 것을 알 수있습니다.

In [42]:
subscription.loc[(subscription['공공주택지구'] == "N") & (subscription['분양가상한제'] == "Y") & (subscription['분양구분코드명'] == "분양주택")]

,주택명,주택상세구분코드명,분양구분코드명,공급지역명,공급규모,모집공고일,청약접수시작일,청약접수종료일,특별공급 접수시작일,특별공급 접수종료일,...,건설업체명(시공사),사업주체명(시행사),입주예정월,투기과열지구,조정대상지역,분양가상한제,정비사업,공공주택지구,대규모택지개발지구,수도권내민영공공주택지구
0,SH 마곡지구 9단지,국민,분양주택,서울,962,2020-02-26,2020-03-16,2020-03-18,NaN,NaN,...,한신공영,서울주택도시공사,202102,Y,Y,Y,N,N,N,N
21,위례신도시 A3-10BL 중흥S-클래스,민영,분양주택,경기,475,2020-02-14,2020-02-27,2020-03-02,2020-02-27,2020-02-27,...,중흥토건(주),(주)새솔건설,202210,Y,Y,Y,N,N,Y,N
29,인천 검단신도시 AB3-1블록 대성베르힐,민영,분양주택,인천,745,2020-02-28,2020-03-09,2020-03-11,2020-03-09,2020-03-09,...,디에스종합건설(주),(주)인천검단피에프브이,202211,N,N,Y,N,N,Y,N
33,고흥 승원팰리체 더퍼스트,민영,분양주택,전남,220,2020-02-28,2020-03-09,2020-03-11,2020-03-09,2020-03-09,...,승원종합건설(주),라온주택(주),202203,N,N,Y,N,N,N,N
71,인천검단신도시3차 노블랜드 리버파크,민영,분양주택,인천,722,2020-03-27,2020-04-06,2020-04-08,2020-04-06,2020-04-06,...,대방건설 주식회사,대방하우징(주),202210,N,N,Y,N,N,Y,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1327,무안 오룡지구 우미린 2차(44BL),민영,분양주택,전남,685,2022-07-22,2022-08-01,2022-08-03,2022-08-01,2022-08-01,...,우미건설(주),우미건설(주),202507,N,N,Y,N,N,N,N
1369,오산 세교2지구 A10블록 칸타빌 더퍼스트,민영,분양주택,경기,514,2022-08-19,2022-08-29,2022-08-31,2022-08-29,2022-08-29,...,(주)대원,(주)대원,202503,N,Y,Y,N,N,Y,N
1379,오송역 서한이다음 노블리스,민영,분양주택,충북,1113,2022-08-19,2022-08-29,2022-09-02,2022-08-29,2022-08-30,...,(주)서한,코리아신탁(주),202507,N,Y,Y,N,N,N,N
1385,인천 검단신도시 AB17BL 우미린 클래스원,민영,분양주택,인천,875,2022-08-25,2022-09-05,2022-09-07,2022-09-05,2022-09-05,...,(주)우미개발,검단에이비십칠블록피에프브이(주),202509,Y,Y,Y,N,N,Y,N
1393,음성 푸르지오 마크베르,민영,분양주택,충북,644,2022-08-25,2022-08-30,2022-09-02,2022-08-30,2022-08-31,...,(주)대우건설,주식회사 하나자산신탁,202504,N,N,Y,N,N,N,N

추가로 분양주택이 차지하는 비율이 약 86.66%임을 알 수 있습니다.

In [43]:
subscription.분양구분코드명.value_counts(normalize=True)

분양주택         0.866524
분양전환 불가임대    0.096360
분양전환 가능임대    0.037116
Name: 분양구분코드명, dtype: float64

청약 접수가 어떻게 이루어 지는지 데이터를 보고 알아봅시다. 2순위는 1순위 청약 다음날 실시함을 알 수 있습니다.

In [44]:
#1순위에서 마감되는 경우 2순위가 진행되지 않기 때문에 2순위 날짜가 NULL값으로 있는 경우가 있습니다. dropna를 통해 이러한 경우를 제거해줍니다.
subscription2 = subscription.dropna(axis=0)
subscription2.filter(like='순위')

,1순위 접수일 해당지역,1순위 접수일 경기지역,1순위 접수일 기타지역,2순위 접수일 해당지역,2순위 접수일 경기지역,2순위 접수일 기타지역
6,2020-02-19,2020-02-19,2020-02-19,2020-02-20,2020-02-20,2020-02-20
21,2020-02-28,2020-02-28,2020-02-28,2020-03-02,2020-03-02,2020-03-02
31,2020-03-03,2020-03-03,2020-03-03,2020-03-04,2020-03-04,2020-03-04
81,2020-03-31,2020-03-31,2020-03-31,2020-04-01,2020-04-01,2020-04-01
104,2020-04-21,2020-04-21,2020-04-21,2020-04-22,2020-04-22,2020-04-22
...,...,...,...,...,...,...
1242,2022-05-03,2022-05-03,2022-05-03,2022-05-04,2022-05-04,2022-05-04
1246,2022-06-24,2022-06-24,2022-06-24,2022-06-27,2022-06-27,2022-06-27
1248,2022-05-24,2022-05-24,2022-05-24,2022-05-25,2022-05-25,2022-05-25
1256,2022-05-31,2022-05-31,2022-05-31,2022-06-02,2022-06-02,2022-06-02
1369,2022-08-30,2022-08-30,2022-08-30,2022-08-31,2022-08-31,2022-08-31

아래 결과를 보면 청약접수일이 4일까지도 차이나는것을 알 수 있습니다. 이러한 경우를 통해 공휴일에는 청약접수를 받지 않고 공휴일이 끝나고 청약을 받는다는 것을 알 수 있습니다.

In [45]:
# 청약접수시작일과 청약접수종료일을 추출합니다.
start_dates = pd.to_datetime(subscription['청약접수시작일'])
end_dates = pd.to_datetime(subscription['청약접수종료일'])

# 청약접수종료일에서 청약접수시작일을 뺍니다.
intervals = end_dates - start_dates

# 결과를 데이터 프레임으로 변환합니다.
a = pd.DataFrame({'청약접수시작일': start_dates, '청약접수종료일': end_dates, '시간 간격': intervals})

print(a)

        청약접수시작일    청약접수종료일  시간 간격
0    2020-03-16 2020-03-18 2 days
1    2020-02-17 2020-02-18 1 days
2    2020-02-21 2020-02-25 4 days
3    2020-02-14 2020-02-17 3 days
4    2020-02-14 2020-02-18 4 days
...         ...        ...    ...
1396 2022-09-13 2022-09-15 2 days
1397 2022-09-14 2022-09-16 2 days
1398 2022-09-06 2022-09-08 2 days
1399 2022-09-26 2022-09-28 2 days
1400 2022-09-26 2022-09-29 3 days

[1401 rows x 3 columns]

In [46]:
intervals.describe()

count                         1401
mean     3 days 00:52:25.182012847
std      6 days 14:23:55.995425189
min                0 days 00:00:00
25%                2 days 00:00:00
50%                2 days 00:00:00
75%                3 days 00:00:00
max              230 days 00:00:00
dtype: object

서울에서 분양가상한제가 적용되는 주택의 경우 시세차익이 보장됩니다. 어떠한 주택이 분양가상한제가 적용되었는지 확인해봅니다.

In [47]:
subscription.loc[(subscription['공급지역명'] == "서울") & (subscription['분양가상한제'] == "Y")]

,주택명,주택상세구분코드명,분양구분코드명,공급지역명,공급규모,모집공고일,청약접수시작일,청약접수종료일,특별공급 접수시작일,특별공급 접수종료일,...,건설업체명(시공사),사업주체명(시행사),입주예정월,투기과열지구,조정대상지역,분양가상한제,정비사업,공공주택지구,대규모택지개발지구,수도권내민영공공주택지구
0,SH 마곡지구 9단지,국민,분양주택,서울,962,2020-02-26,2020-03-16,2020-03-18,NaN,NaN,...,한신공영,서울주택도시공사,202102,Y,Y,Y,N,N,N,N
276,공항동 발쿠치네 하우스,민영,분양주택,서울,45,2020-06-05,2020-06-16,2020-06-19,2020-06-16,2020-06-16,...,우석종합건설(주),발쿠치네하우스,202007,Y,Y,Y,N,N,N,N
305,SH 고덕강일 8단지 공공분양주택,국민,분양주택,서울,526,2020-06-02,2020-06-15,2020-06-22,2020-06-15,2020-06-16,...,(주)대보건설,서울주택도시공사,202102,Y,Y,Y,N,Y,Y,N
309,SH 고덕강일14단지 공공분양주택,국민,분양주택,서울,411,2020-06-02,2020-06-15,2020-06-22,2020-06-15,2020-06-16,...,대우조선해양건설(주),서울주택도시공사,202102,Y,Y,Y,N,Y,Y,N
325,스위트드림 아파트,민영,분양주택,서울,48,2020-06-10,2020-06-22,2020-06-24,NaN,NaN,...,(주)스위트드림종합건설,(주)스위트드림종합건설,202007,Y,Y,Y,N,N,N,N
331,서초비버리캐슬,민영,분양주택,서울,42,2020-06-18,2020-06-29,2020-07-01,NaN,NaN,...,(주)덕인컨스텍,아시아신탁주식회사,202007,Y,Y,Y,N,N,N,N
422,고덕 아르테스 미소지움,민영,분양주택,서울,37,2020-10-08,2020-10-20,2020-10-23,2020-10-20,2020-10-20,...,에스지신성건설주식회사,벽산빌라가로주택정비사업조합,202202,Y,Y,Y,Y,N,N,N
512,서초자이르네,민영,분양주택,서울,35,2020-10-08,2020-10-19,2020-10-21,NaN,NaN,...,자이에스앤디(주),낙원청광연립가로주택정비사업조합,202208,Y,Y,Y,Y,N,N,N
584,SH 위례지구 A1-12BL 공공분양,국민,분양주택,서울,394,2020-11-19,2020-12-10,2020-12-11,NaN,NaN,...,진흥기업,서울주택도시공사,202108,Y,Y,Y,N,Y,Y,N
585,SH 위례지구 A1-5BL 공공분양,국민,분양주택,서울,1282,2020-11-19,2020-12-10,2020-12-11,NaN,NaN,...,한화건설,서울주택도시공사,202108,Y,Y,Y,N,Y,Y,N
619,힐스테이트 리슈빌 강일,민영,분양주택,서울,809,2020-12-18,2020-12-28,2020-12-30,2020-12-28,2020-12-28,...,"현대건설(주),계룡건설산업(주)","현대건설(주),계룡건설산업(주)",202309,Y,Y,Y,N,N,Y,Y
685,자양 하늘채 베르,민영,분양주택,서울,51,2021-02-18,2021-03-02,2021-03-05,2021-03-02,2021-03-02,...,코오롱글로벌(주),자양아파트재건축정비사업조합,202302,Y,Y,Y,Y,N,N,N
686,고덕강일 제일풍경채,민영,분양주택,서울,780,2021-02-18,2021-03-03,2021-03-05,2021-03-03,2021-03-03,...,제일건설(주),"(주)고덕강일1피에프브이,제일건설(주)",202401,Y,Y,Y,N,Y,Y,Y
753,세운 푸르지오 헤리시티 아파트,민영,분양주택,서울,281,2021-05-04,2021-05-14,2021-05-20,2021-05-14,2021-05-14,...,(주)대우건설,우리자산신탁 주식회사,202301,Y,Y,Y,N,N,N,N
838,래미안 원베일리,민영,분양주택,서울,224,2021-06-07,2021-06-17,2021-06-21,NaN,NaN,...,삼성물산(주),신반포3차경남아파트주택재건축정비사업조합,202308,Y,Y,Y,Y,N,N,N
869,e편한세상 강일 어반브릿지,민영,분양주택,서울,593,2021-09-10,2021-09-27,2021-09-29,2021-09-27,2021-09-27,...,디엘이앤씨 주식회사,(주)고덕강일10피에프브이,202402,Y,Y,Y,N,Y,Y,Y
1063,해링턴플레이스 안암,민영,분양주택,서울,114,2021-11-25,2021-12-08,2021-12-13,2021-12-08,2021-12-08,...,진흥기업(주),안암제2구역주택재개발정비사업조합,202407,Y,Y,Y,Y,N,N,N
1149,센트레빌 아스테리움 영등포,민영,분양주택,서울,106,2022-02-11,2022-02-21,2022-02-24,2022-02-21,2022-02-21,...,동부건설(주),영등포동2가 439일대 가로주택정비사업조합,202408,Y,Y,Y,Y,N,N,N
1198,힐스테이트 세운 센트럴 1단지,민영,분양주택,서울,165,2022-04-08,2022-04-18,2022-04-21,2022-04-18,2022-04-18,...,현대엔지니어링(주),우리자산신탁 주식회사,202302,Y,Y,Y,Y,N,N,N
1199,힐스테이트 세운 센트럴 2단지,민영,분양주택,서울,264,2022-04-08,2022-04-18,2022-04-21,2022-04-18,2022-04-18,...,현대엔지니어링(주),우리자산신탁 주식회사,202302,Y,Y,Y,Y,N,N,N

각 지역별 공급규모의 평균이 어떻게 되는지 내림차순으로 정렬해봅니다.

In [48]:
print(subscription.groupby('공급지역명')['공급규모'].mean().sort_values(ascending=False))

공급지역명
충북    673.291667
경북    636.424658
충남    614.277108
인천    594.163265
경기    534.216837
세종    508.636364
경남    503.808511
대전    471.810811
대구    450.459677
부산    437.588889
강원    411.098039
울산    402.645161
전북    401.706897
서울    383.528571
전남    353.415385
광주    242.300000
제주    107.333333
Name: 공급규모, dtype: float64

주택분양을 할때 보통 A타입 B타입 C타입을 구분해서 청약하는데 이때 한가지 타입만 청약할 수 있습니다. 그렇다면 어느 타입의 평균 가점이 높고 낮으며 어떤 타입을 지원하는것이 유리한지 comp.csv파일을 통해 알아보겠습니다.

In [49]:
# 데이터 불러오기 https://www.data.go.kr/data/15101048/fileData.do
comp = pd.read_csv('comp.csv')

# 주택형 열에서 'A' 문자열을 포함하는 행 선택
df = comp[comp['주택형'].str.contains('A').dropna()]

# 가점을 공개하지 않은 경우 -1로 나타내기 때문에 이를 nan으로 바꿔서 평균값을 구하는데 문제없게 만듦
df[df.최저당첨가점 == -1] = np.nan

df.최저당첨가점.dropna().describe()

<ipython-input-49-010c113f07ef>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[df.최저당첨가점 == -1] = np.nan

count    2586.000000
mean       27.880897
std        26.031073
min         0.000000
25%         0.000000
50%        30.000000
75%        52.000000
max        79.000000
Name: 최저당첨가점, dtype: float64

In [50]:
# '주택형' 열에서 'B' 문자열을 포함하는 행 선택
df = comp[comp['주택형'].str.contains('B').dropna()]

# 가점을 공개하지 않은 경우 -1로 나타내기 때문에 이를 nan으로 바꿔서 평균값을 구하는데 문제없게 만듦
df[df.최저당첨가점 == -1] = np.nan

df.최저당첨가점.dropna().describe()

<ipython-input-50-0f6b8be03e3f>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[df.최저당첨가점 == -1] = np.nan

count    2227.000000
mean       26.290076
std        25.003869
min         0.000000
25%         0.000000
50%        27.000000
75%        50.000000
max        78.000000
Name: 최저당첨가점, dtype: float64

In [51]:
# '주택형' 열에서 'C' 문자열을 포함하는 행 선택
df = comp[comp['주택형'].str.contains('C').dropna()]

# 가점을 공개하지 않은 경우 -1로 나타내기 때문에 이를 nan으로 바꿔서 평균값을 구하는데 문제없게 만듦
df[df.최저당첨가점 == -1] = np.nan

df.최저당첨가점.dropna().describe()

<ipython-input-51-41a4fd18823e>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[df.최저당첨가점 == -1] = np.nan

count    1022.000000
mean       26.622309
std        24.957716
min         0.000000
25%         0.000000
50%        28.000000
75%        50.000000
max        79.000000
Name: 최저당첨가점, dtype: float64

B타입의 평균 최저당첨가점이 유의미하게 낮음을 알 수 있습니다.

앞선 subscription 데이터에는 없던 1순위와 2순위의 해당 지역과 기타 지역의 경쟁률 차이를 알 수 있습니다.

In [62]:
data = pd.read_csv("score.csv", encoding="cp949")
#https://www.bigdata-transportation.kr/frn/prdt/detail?prdtId=PRDTNUM_000000020050
data

                        이름         타입  순위  당해여부  최저가점  최고가점  평균가점
0             학성동 동남하이빌아파트  084.2405A   1  해당지역    12    12    12
1             학성동 동남하이빌아파트  084.2405A   2  해당지역    11    33    22
2              의왕 오전 동아루미체      74.91   1  해당지역    23    51    31
3              의왕 오전 동아루미체      74.89   1  해당지역    43    50    46
4              양주옥정유림노르웨이숲  072.3007A   2  기타경기    13    37    23
...                    ...        ...  ..   ...   ...   ...   ...
5686         새절역 두산위브 트레지움  084.9900T   1  해당지역    69    69    69
5687            미추홀 루브루 숭의  046.5480B   1  해당지역    44    44    44
5688  신영지웰 푸르지오 테크노폴리스 센트럴    84.9243   1  해당지역    66    74    69
5689  신영지웰 푸르지오 테크노폴리스 센트럴    84.7367   1  해당지역    60    67    62
5690  신영지웰 푸르지오 테크노폴리스 센트럴    84.8902   1  해당지역    56    70    59

[5691 rows x 7 columns]

In [63]:
(
data[['이름','타입', '최저가점']]
    .sort_values('최저가점', ascending=False).head(20)
)

                        이름         타입  최저가점
3313             세종자이 더 시티  084.8604P    84
4644  가락마을7단지 중흥S-클래스 프라디움  084.3617C    79
2348            고덕강일 제일풍경채  084.7200R    79
4641  가락마을7단지 중흥S-클래스 프라디움  084.9931A    79
497                동탄역 헤리엇  097.8618A    79
3366             세종자이 더 시티  138.8855P    79
414               흑석리버파크자이     120.43    79
3063              래미안 원베일리  074.9700B    78
4376             래미안 포레스티지    132.575    76
1611      과천 푸르지오 어울림 라비엔오  120.7953A    76
4055             순천 오네뜨센트럴  120.6483P    76
1599      과천 푸르지오 어울림 라비엔오  084.6197E    76
2218     세종 리첸시아 파밀리에 H3블록  112.9028A    75
2653            덕소 강변 스타힐스      84.58    75
3334             세종자이 더 시티  108.0000P    75
1544          감일 푸르지오 마크베르  084.8934A    74
3359             세종자이 더 시티  125.2662P    74
1249              DMC센트럴자이  084.9700D    74
1590      과천 푸르지오 어울림 라비엔오  084.8513B    74
1612            과천 르센토 데시앙  084.5769A    74

In [64]:
df = pd.DataFrame(data)

# 중복된 이름과 타입을 기준으로 그룹화하여 최저가점 차이 계산
grouped = df.groupby(['이름', '타입','순위'])

# 최저가점 차이 계산하여 결과 데이터프레임 생성
result = pd.DataFrame()
result['이름'] = grouped['이름'].first()
result['타입'] = grouped['타입'].first()
result['최저가점_기타지역'] = grouped.apply(lambda x: x[x['당해여부'] == '기타지역']['최저가점'].mean())
result['최저가점_해당지역'] = grouped.apply(lambda x: x[x['당해여부'] == '해당지역']['최저가점'].mean())
result['최저가점_차이'] = result['최저가점_기타지역'] - result['최저가점_해당지역']

# NaN 값 제거
result = result.dropna()

# 결과 출력
result

# result.to_csv('result.csv', index=False)

                                                         이름         타입  \
이름                     타입        순위
GTX 운정 금강펜테리움 센트럴파크    084.7064A 1      GTX 운정 금강펜테리움 센트럴파크  084.7064A
                       084.8692B 1      GTX 운정 금강펜테리움 센트럴파크  084.8692B
                       084.8736C 1      GTX 운정 금강펜테리움 센트럴파크  084.8736C
e편한세상 김포 어반베뉴          059.9467B 1            e편한세상 김포 어반베뉴  059.9467B
                       059.9953A 1            e편한세상 김포 어반베뉴  059.9953A
...                                                     ...        ...
화성비봉 공공주택지구 B2블록 호반 써밋 084.9428A 1   화성비봉 공공주택지구 B2블록 호반 써밋  084.9428A
힐스테이트 광교중앙역 퍼스트        060.9000B 1          힐스테이트 광교중앙역 퍼스트  060.9000B
                       060.9700A 1          힐스테이트 광교중앙역 퍼스트  060.9700A
                       69.92     1          힐스테이트 광교중앙역 퍼스트      69.92
                       84.56     1          힐스테이트 광교중앙역 퍼스트      84.56

                                     최저가점_기타지역  최저가점_해당지역  최저가점_차이
이름                     타입        순위
GTX 운정 금강펜테리움 센트럴파크    084.7064A 1        64.0       59.0      5.0
                       084.8692B 1        61.0       59.0      2.0
                       084.8736C 1        64.0       60.0      4.0
e편한세상 김포 어반베뉴          059.9467B 1        46.0       45.0      1.0
                       059.9953A 1        52.0       55.0     -3.0
...                                        ...        ...      ...
화성비봉 공공주택지구 B2블록 호반 써밋 084.9428A 1        53.0       27.0     26.0
힐스테이트 광교중앙역 퍼스트        060.9000B 1        69.0       64.0      5.0
                       060.9700A 1        69.0       65.0      4.0
                       69.92     1        70.0       69.0      1.0
                       84.56     1        69.0       69.0      0.0

[333 rows x 5 columns]

In [65]:
result.최저가점_차이.mean()

5.2192192192192195