<a href="https://colab.research.google.com/github/201804252yongjoon/propertydata/blob/main/201804252_property.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

부동산학전공 201804252 최용준

In [ ]:
import pandas as pd

In [40]:
subscription=pd.read_csv("subscription.csv")

In [45]:
subscription

,주택관리번호,공고번호,주택명,주택구분코드,주택구분코드명,주택상세구분코드,주택상세구분코드명,분양구분코드,분양구분코드명,공급지역코드,...,문의처,사업주체명(시행사),입주예정월,투기과열지구,조정대상지역,분양가상한제,정비사업,공공주택지구,대규모택지개발지구,수도권내민영공공주택지구
0,2020000001,2020000001,SH 마곡지구 9단지,1,APT,3,국민,0,분양주택,100,...,1600-3456,서울주택도시공사,202102,Y,Y,Y,N,N,N,N
1,2020000004,2020000004,대구연경A-2블록국민임대,1,APT,3,국민,2,분양전환 불가임대,700,...,1600-1004,한국토지주택대구경북,202005,N,N,N,N,N,N,N
2,2020000005,2020000005,경북도청신도시 코오롱하늘채,1,APT,3,국민,1,분양전환 가능임대,712,...,054-843-1500,경상북도개발공사,202007,N,N,N,N,N,N,N
3,2020000007,2020000007,학성동 동남하이빌아파트,1,APT,1,민영,0,분양주택,680,...,052-268-1866,동남건설산업(주),202003,N,N,N,N,N,N,N
4,2020000008,2020000008,제주첨단과학기술단지A23블록행복주택,1,APT,3,국민,2,분양전환 불가임대,690,...,064-797-5500,제주국제자유도시개발,202008,N,N,N,N,N,N,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1396,2022000601,2022000601,광혜원 포레가,1,APT,1,민영,0,분양주택,360,...,043-534-8181,광혜원지역주택조합,202210,N,N,N,N,N,N,N
1397,2022000602,2022000602,e편한세상 주촌 더프리미어,1,APT,1,민영,0,분양주택,621,...,055-335-1777,주식회사 하나자산신탁,202512,N,N,N,N,N,N,N
1398,2022000612,2022000612,옥천역 금호어울림 더퍼스트,1,APT,1,민영,0,분양주택,360,...,043-731-4992,대한토지신탁(주),202501,N,N,N,N,N,N,N
1399,2022000630,2022000630,장성 바울루체,1,APT,1,민영,0,분양주택,513,...,061-878-8786,한국자산신탁(주),202408,N,N,N,N,N,N,N
1400,2022000640,2022000640,천안 부성지구 우남퍼스트빌,1,APT,1,민영,0,분양주택,312,...,1588-8034,"(주)더블유건설,(주)다림씨앤씨",202403,N,Y,N,N,N,N,N

In [47]:
subscription.분양가상한제.value_counts(normalize=True)

N    0.802284
Y    0.197716
Name: 분양가상한제, dtype: float64

In [48]:
subscription.describe()

,주택관리번호,공고번호,주택구분코드,주택상세구분코드,분양구분코드,공급지역코드,공급위치 우편번호,공급규모,입주예정월
count,1.401000e+03,1.401000e+03,1401.0,1401.000000,1401.000000,1401.000000,1401.000000,1401.000000,1401.000000
mean,2.020719e+09,2.020719e+09,1.0,1.371163,0.229836,469.670949,32249.338330,487.633833,202287.685225
std,7.631069e+05,7.631069e+05,0.0,0.777815,0.608272,163.314935,17147.824699,594.305573,156.418190
min,2.020000e+09,2.020000e+09,1.0,1.000000,0.000000,100.000000,0.000000,1.000000,202003.000000
25%,2.020001e+09,2.020001e+09,1.0,1.000000,0.000000,400.000000,16953.000000,132.000000,202205.000000
50%,2.021000e+09,2.021000e+09,1.0,1.000000,0.000000,410.000000,31465.000000,348.000000,202307.000000
75%,2.021001e+09,2.021001e+09,1.0,1.000000,0.000000,621.000000,46984.000000,688.000000,202406.000000
max,2.022001e+09,2.022001e+09,1.0,3.000000,2.000000,712.000000,63618.000000,12688.000000,202610.000000

In [51]:
subscription.isna().sum(axis=1).sum()

3524

In [55]:
subscription.filter(like='순위')

,1순위 접수일 해당지역,1순위 접수일 경기지역,1순위 접수일 기타지역,2순위 접수일 해당지역,2순위 접수일 경기지역,2순위 접수일 기타지역
0,2020-03-16,NaN,2020-03-17,2020-03-18,NaN,2020-03-18
1,2020-02-17,NaN,NaN,2020-02-18,NaN,NaN
2,2020-02-24,NaN,2020-02-24,2020-02-25,NaN,2020-02-25
3,2020-02-14,NaN,2020-02-14,2020-02-17,NaN,2020-02-17
4,2020-02-14~2020-02-17,NaN,2020-02-14~2020-02-17,2020-02-18,NaN,2020-02-18
...,...,...,...,...,...,...
1396,2022-09-14,NaN,2022-09-14,2022-09-15,NaN,2022-09-15
1397,2022-09-15,NaN,2022-09-15,2022-09-16,NaN,2022-09-16
1398,2022-09-07,NaN,2022-09-07,2022-09-08,NaN,2022-09-08
1399,2022-09-27,NaN,2022-09-27,2022-09-28,NaN,2022-09-28
1400,2022-09-27,NaN,2022-09-28,2022-09-29,NaN,2022-09-29